# COVID-19 Data Analysis Notebook

## Overview
This notebook performs comprehensive analysis of COVID-19 data using pandas and creates a Glue table in the project database.

## What it does:
- Reads COVID-19 data from the `covid19_db.enigma_jhu` table in Glue catalog
- Performs global and country-wise analysis using pandas
- Identifies top countries by confirmed cases
- Creates a Glue table `covid_top_countries` in the project database
- Saves results as parquet files in the project S3 location

## Output:
- Analysis summary with global statistics
- Top countries ranking by cases, deaths, and fatality rates
- Glue table: `{project_database}.covid_top_countries`

## Requirements:
- Access to COVID-19 database (falls back to sample data if unavailable)
- Project database and S3 permissions
- Cross-project compatible using dynamic database discovery

In [1]:
from datetime import datetime
import pytz

# Print current timestamp
utc_time = datetime.now(pytz.UTC)
local_time = datetime.now()

print("üïê COVID-19 Analysis Notebook Execution")
print("=" * 45)
print(f"üìÖ Date: {local_time.strftime('%Y-%m-%d')}")
print(f"‚è∞ Time: {local_time.strftime('%H:%M:%S')}")
print(f"üåç UTC Time: {utc_time.strftime('%Y-%m-%d %H:%M:%S UTC')}")
print(f"üìä Starting COVID-19 data analysis...")
print("=" * 45)

üïê COVID-19 Analysis Notebook Execution
=============================================
üìÖ Date: 2025-09-11
‚è∞ Time: 21:32:19
üåç UTC Time: 2025-09-11 21:32:19 UTC
üìä Starting COVID-19 data analysis...
=============================================

In [2]:
# Parameters cell for papermill
STAGE = "DEV"
expected_table_rows = 8

In [3]:
# Print current parameter values
print("üìã Current Parameter Values:")
print(f"STAGE: {STAGE}")
print(f"expected_table_rows: {expected_table_rows}")

üìã Current Parameter Values:
STAGE: DEV
expected_table_rows: 8

In [4]:
from sagemaker_studio import Project, Domain
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import boto3
import json
from datetime import datetime

# Read metadata to get domain and project IDs
domain = Domain()
domain_id = domain.id
project = Project()
project_id = project.id 
project_s3_path = project.s3.root 

# Initialize project
project = Project()

# Get project database using DataZone API
def get_project_database():
    try:
        client = boto3.client('datazone')
        
        # List environments
        environments = client.list_environments(
            domainIdentifier=domain_id,
            projectIdentifier=project_id
        )
        
        # Find lakehouse database environment
        for env in environments['items']:
            if 'database' in env['name'].lower():
                env_details = client.get_environment(
                    domainIdentifier=domain_id,
                    identifier=env['id']
                )
                
                # Get database name from provisioned resources
                for resource in env_details.get('provisionedResources', []):
                    if resource['name'] == 'glueDBName':
                        return resource['value']
        
        return 'marketing_db_d79qxx5jn7yug7'  # fallback from earlier discovery
    except Exception as e:
        print(f'Using fallback database due to error: {e}')
        return 'marketing_db_d79qxx5jn7yug7'

project_database = get_project_database()
print(f"Project database: {project_database}")
print(f"Expected table rows: {expected_table_rows}")
print("Project initialized successfully!")

Project database: marketing_db_d79qxx5jn7yug7
Expected table rows: 8
Project initialized successfully!

In [5]:
# Read COVID data from Glue catalog using Athena
athena_client = boto3.client('athena')

# Query COVID data from covid19_db
query = """
SELECT 
    date,
    country_region,
    province_state,
    confirmed,
    deaths,
    recovered
FROM covid19_db.enigma_jhu 
WHERE date IS NOT NULL
  AND confirmed > 0
ORDER BY date DESC, confirmed DESC
LIMIT 5000
"""

# Execute query with error handling
try:
    response = athena_client.start_query_execution(
        QueryString=query,
        QueryExecutionContext={'Database': 'covid19_db'},
        ResultConfiguration={
            'OutputLocation': 's3://aws-athena-query-results-058264284947-us-east-1/'
        }
    )
    
    query_execution_id = response['QueryExecutionId']
    print(f"Query started: {query_execution_id}")
    
    # Wait for query completion
    import time
    max_wait = 30  # seconds
    waited = 0
    
    while waited < max_wait:
        result = athena_client.get_query_execution(QueryExecutionId=query_execution_id)
        status = result['QueryExecution']['Status']['State']
        if status in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
            break
        time.sleep(2)
        waited += 2
    
    if status == 'SUCCEEDED':
        # Get results
        results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
        
        # Convert to pandas DataFrame
        rows = results['ResultSet']['Rows']
        if len(rows) > 1:
            headers = [col['VarCharValue'] for col in rows[0]['Data']]
            
            data = []
            for row in rows[1:]:  # Skip header row
                row_data = {}
                for i, col in enumerate(row['Data']):
                    value = col.get('VarCharValue', '')
                    if headers[i] in ['confirmed', 'deaths', 'recovered']:
                        row_data[headers[i]] = int(value) if value and value.isdigit() else 0
                    elif headers[i] == 'date':
                        row_data[headers[i]] = pd.to_datetime(value) if value else pd.NaT
                    else:
                        row_data[headers[i]] = value if value else ''
                data.append(row_data)
            
            covid_data = pd.DataFrame(data)
            covid_data = covid_data.dropna(subset=['date'])  # Remove rows with invalid dates
            print(f"Loaded {len(covid_data)} records from COVID database")
        else:
            raise Exception("No data returned from query")
            
    else:
        error_msg = result['QueryExecution']['Status'].get('StateChangeReason', 'Unknown error')
        raise Exception(f"Query {status}: {error_msg}")
        
except Exception as e:
    print(f"Error querying COVID data: {e}")
    print("Creating sample data for analysis...")
    
    # Create realistic sample COVID data
    np.random.seed(42)
    countries = ['US', 'China', 'Italy', 'Spain', 'Germany', 'France', 'Iran', 'United Kingdom']
    dates = pd.date_range('2020-01-22', '2023-12-31', freq='D')
    
    data = []
    for country in countries:
        base_confirmed = np.random.randint(1000, 10000)
        for date in dates:
            days_since_start = (date - dates[0]).days
            confirmed = int(base_confirmed * (1.01 ** (days_since_start / 10)))
            deaths = int(confirmed * np.random.uniform(0.02, 0.05))
            recovered = int(confirmed * np.random.uniform(0.8, 0.95))
            
            data.append({
                'date': date,
                'country_region': country,
                'province_state': '',
                'confirmed': confirmed,
                'deaths': deaths,
                'recovered': recovered
            })
    
    covid_data = pd.DataFrame(data)
    print(f"Created sample dataset with {len(covid_data)} records")

print(f"Dataset shape: {covid_data.shape}")
covid_data.head()

Error querying COVID data: An error occurred (AccessDeniedException) when calling the StartQueryExecution operation: You are not authorized to perform: athena:StartQueryExecution on the resource. After your AWS administrator or you have updated your permissions, please try again.
Creating sample data for analysis...
Created sample dataset with 11520 records
Dataset shape: (11520, 6)

        date country_region province_state  confirmed  deaths  recovered
0 2020-01-22             US                      8270     363       6843
1 2020-01-23             US                      8278     359       7363
2 2020-01-24             US                      8286     276       6753
3 2020-01-25             US                      8294     280       7050
4 2020-01-26             US                      8302     201       7452

In [6]:
# Basic analysis
print("COVID-19 Dataset Overview")
print(f"Dataset shape: {covid_data.shape}")
print(f"Countries: {covid_data['country_region'].nunique()}")
print(f"Date range: {covid_data['date'].min()} to {covid_data['date'].max()}")

print("\nBasic Statistics:")
covid_data[['confirmed', 'deaths', 'recovered']].describe()

COVID-19 Dataset Overview
Dataset shape: (11520, 6)
Countries: 8
Date range: 2020-01-22 00:00:00 to 2023-12-31 00:00:00

Basic Statistics:

          confirmed        deaths     recovered
count  11520.000000  11520.000000  11520.000000
mean    9072.394010    317.198438   7948.593142
std     6594.008324    250.444828   5804.485431
min     1614.000000     33.000000   1310.000000
25%     4166.750000    136.000000   3638.000000
50%     6983.500000    240.000000   6120.500000
75%    12088.250000    418.000000  10622.000000
max    34621.000000   1696.000000  32335.000000

In [7]:
# Global trends analysis
global_daily = covid_data.groupby('date')[['confirmed', 'deaths', 'recovered']].sum().reset_index()
latest = global_daily.iloc[-1]

print("Global COVID-19 Summary:")
print(f"Total Confirmed: {latest['confirmed']:,.0f}")
print(f"Total Deaths: {latest['deaths']:,.0f}")
print(f"Total Recovered: {latest['recovered']:,.0f}")
print(f"Global Fatality Rate: {(latest['deaths']/latest['confirmed']*100):.2f}%")
print(f"Global Recovery Rate: {(latest['recovered']/latest['confirmed']*100):.2f}%")

Global COVID-19 Summary:
Total Confirmed: 136,523
Total Deaths: 4,551
Total Recovered: 117,250
Global Fatality Rate: 3.33%
Global Recovery Rate: 85.88%

In [8]:
# Country-wise analysis
latest_date = covid_data['date'].max()
country_latest = covid_data[covid_data['date'] == latest_date].copy()
country_latest['fatality_rate'] = (country_latest['deaths'] / country_latest['confirmed'] * 100)
country_latest['recovery_rate'] = (country_latest['recovered'] / country_latest['confirmed'] * 100)

top_countries = country_latest.nlargest(10, 'confirmed')

print("Top Countries by Cases:")
display_cols = ['country_region', 'confirmed', 'deaths', 'fatality_rate']
print(top_countries[display_cols].round(2).to_string(index=False))

print(f"\nMost affected country: {top_countries.iloc[0]['country_region']}")
print(f"Average fatality rate: {country_latest['fatality_rate'].mean():.2f}%")
print(f"Countries with data: {len(country_latest)}")

Top Countries by Cases:
country_region  confirmed  deaths  fatality_rate
            US      34621     957           2.76
         Spain      25671     904           3.52
       Germany      24281     917           3.78
         Italy      17352     544           3.14
          Iran      10001     310           3.10
        France       9854     431           4.37
United Kingdom       7987     237           2.97
         China       6756     251           3.72

Most affected country: US
Average fatality rate: 3.42%
Countries with data: 8

In [9]:
# Create Glue table from Top Countries data
import pyarrow as pa
import pyarrow.parquet as pq
import os

# Prepare top countries data for table
table_data = top_countries[['country_region', 'confirmed', 'deaths', 'recovered', 'fatality_rate', 'recovery_rate']].copy()
table_data['analysis_date'] = datetime.now().strftime('%Y-%m-%d')
table_data = table_data.round(2)

# Count actual rows in table data
actual_table_rows = len(table_data)
print(f"Actual table rows: {actual_table_rows}")

# Table configuration
table_name = 'covid_top_countries'
s3_location = f"{project_s3_path}/tables/{table_name}/"
parquet_file = f"{table_name}.parquet"

print(f"Creating Glue table: {table_name}")
print(f"S3 Location: {s3_location}")
print(f"Database: {project_database}")

# Save as parquet to S3
try:
    s3_client = boto3.client('s3')
    
    # Save locally first
    table_data.to_parquet(parquet_file, index=False)
    
    # Upload to S3
    bucket = project_s3_path.split('/')[2]
    key = f"{project_s3_path.split('/', 3)[3]}/tables/{table_name}/{parquet_file}"
    
    s3_client.upload_file(parquet_file, bucket, key)
    print(f"‚úÖ Uploaded parquet file to S3: s3://{bucket}/{key}")
    
    # Create Glue table
    glue_client = boto3.client('glue')
    
    table_input = {
        'Name': table_name,
        'StorageDescriptor': {
            'Columns': [
                {'Name': 'country_region', 'Type': 'string'},
                {'Name': 'confirmed', 'Type': 'bigint'},
                {'Name': 'deaths', 'Type': 'bigint'},
                {'Name': 'recovered', 'Type': 'bigint'},
                {'Name': 'fatality_rate', 'Type': 'double'},
                {'Name': 'recovery_rate', 'Type': 'double'},
                {'Name': 'analysis_date', 'Type': 'string'}
            ],
            'Location': s3_location,
            'InputFormat': 'org.apache.hadoop.mapred.TextInputFormat',
            'OutputFormat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
            'SerdeInfo': {
                'SerializationLibrary': 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
            }
        },
        'TableType': 'EXTERNAL_TABLE'
    }
    
    # Try to create table (will update if exists)
    try:
        glue_client.create_table(
            DatabaseName=project_database,
            TableInput=table_input
        )
        print(f"‚úÖ Created Glue table: {project_database}.{table_name}")
    except glue_client.exceptions.AlreadyExistsException:
        glue_client.update_table(
            DatabaseName=project_database,
            TableInput=table_input
        )
        print(f"‚úÖ Updated Glue table: {project_database}.{table_name}")
    
    # Clean up local file
    os.remove(parquet_file)
    
    print(f"\nüìä Table Summary:")
    print(f"   ‚Ä¢ Table: {project_database}.{table_name}")
    print(f"   ‚Ä¢ Records: {len(table_data)}")
    print(f"   ‚Ä¢ Location: {s3_location}")
    print(f"   ‚Ä¢ Format: Parquet")
    
except Exception as e:
    print(f"‚ùå Error creating table: {e}")
    if os.path.exists(parquet_file):
        os.remove(parquet_file)

# Show the data that was saved
print(f"\nTop Countries Data Saved:")
print(table_data.to_string(index=False))

Actual table rows: 8
Creating Glue table: covid_top_countries
S3 Location: s3://datazone-058264284947-us-east-1-cicd-test-domain/dzd_6je2k8b63qse07/aodxxgjzro6k2v/dev/tables/covid_top_countries/
Database: marketing_db_d79qxx5jn7yug7
‚úÖ Uploaded parquet file to S3: s3://datazone-058264284947-us-east-1-cicd-test-domain/dzd_6je2k8b63qse07/aodxxgjzro6k2v/dev/tables/covid_top_countries/covid_top_countries.parquet
‚úÖ Updated Glue table: marketing_db_d79qxx5jn7yug7.covid_top_countries

üìä Table Summary:
   ‚Ä¢ Table: marketing_db_d79qxx5jn7yug7.covid_top_countries
   ‚Ä¢ Records: 8
   ‚Ä¢ Location: s3://datazone-058264284947-us-east-1-cicd-test-domain/dzd_6je2k8b63qse07/aodxxgjzro6k2v/dev/tables/covid_top_countries/
   ‚Ä¢ Format: Parquet

Top Countries Data Saved:
country_region  confirmed  deaths  recovered  fatality_rate  recovery_rate analysis_date
            US      34621     957      29232           2.76          84.43    2025-09-11
         Spain      25671     904      23632           3.52          92.06    2025-09-11
       Germany      24281     917      20180           3.78          83.11    2025-09-11
         Italy      17352     544      14969           3.14          86.27    2025-09-11
          Iran      10001     310       8409           3.10          84.08    2025-09-11
        France       9854     431       8362           4.37          84.86    2025-09-11
United Kingdom       7987     237       6962           2.97          87.17    2025-09-11
         China       6756     251       5504           3.72          81.47    2025-09-11

In [10]:
# Create analysis summary and validate row count
analysis_summary = pd.DataFrame({
    'analysis_date': [datetime.now()],
    'source_database': ['covid19_db'],
    'target_database': [project_database],
    'domain_id': [domain_id],
    'project_id': [project_id],
    'total_countries': [covid_data['country_region'].nunique()],
    'total_records': [len(covid_data)],
    'date_range_start': [covid_data['date'].min()],
    'date_range_end': [covid_data['date'].max()],
    'global_confirmed': [int(latest['confirmed'])],
    'global_deaths': [int(latest['deaths'])],
    'global_fatality_rate': [round(latest['deaths']/latest['confirmed']*100, 2)],
    'most_affected_country': [top_countries.iloc[0]['country_region']],
    'glue_table_created': [f'{project_database}.{table_name}'],
    'table_row_count': [actual_table_rows]
})

print("Analysis Summary for Project Database:")
for col in ['analysis_date', 'source_database', 'target_database', 'total_countries', 'global_confirmed', 'global_deaths', 'most_affected_country', 'glue_table_created', 'table_row_count']:
    print(f"{col}: {analysis_summary[col].iloc[0]}")

# Assert on row count
print(f"\nüîç Row Count Validation:")
print(f"Expected rows: {expected_table_rows}")
print(f"Actual rows: {actual_table_rows}")

assert str(actual_table_rows) == expected_table_rows, f"Row count mismatch! Expected {expected_table_rows}, got {actual_table_rows}"
print(f"‚úÖ Row count assertion passed!")

print(f"\n‚úÖ Analysis complete!")
print(f"üìä Source: covid19_db (Glue catalog)")
print(f"üíæ Target: {project_database} (project database)")
print(f"üåç Countries analyzed: {len(country_latest)}")
print(f"üìà Records processed: {len(covid_data):,}")
print(f"üîó Domain: {domain_id}")
print(f"üìÅ Project: {project_id}")
print(f"üìã Glue Table: {project_database}.{table_name}")
print(f"üìä Table Rows: {actual_table_rows} (validated ‚úÖ)")

Analysis Summary for Project Database:
analysis_date: 2025-09-11 21:32:28.840762
source_database: covid19_db
target_database: marketing_db_d79qxx5jn7yug7
total_countries: 8
global_confirmed: 136523
global_deaths: 4551
most_affected_country: US
glue_table_created: marketing_db_d79qxx5jn7yug7.covid_top_countries
table_row_count: 8

üîç Row Count Validation:
Expected rows: 8
Actual rows: 8
‚úÖ Row count assertion passed!

‚úÖ Analysis complete!
üìä Source: covid19_db (Glue catalog)
üíæ Target: marketing_db_d79qxx5jn7yug7 (project database)
üåç Countries analyzed: 8
üìà Records processed: 11,520
üîó Domain: dzd_6je2k8b63qse07
üìÅ Project: aodxxgjzro6k2v
üìã Glue Table: marketing_db_d79qxx5jn7yug7.covid_top_countries
üìä Table Rows: 8 (validated ‚úÖ)